@import url('https://fonts.googleapis.com/css?family=Ubuntu:wgh@300,400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif !important;
}



.main {
    position: relative;
    min-height: 100vh;
    background: radial-gradient(#f0483a, #d10a20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 100px;
}


header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding:  0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    max-width: 90px;
}

.navigation {
    display: flex;

}

.navigation li {
    list-style: none;
    
}

.navigation li a {
    position: relative;
    color: #fff !important;
    text-decoration: none;
    margin-left: 40px;
}

.content {
    position: relative;
    width: 100%;
    /*padding-top: 50px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .text {
    width: 100%;
    max-width: 600px;
    
}

.content .text h2 {
    color: #fff !important;
    font-size: 4em;
    font-weight: 300 !important;
   
}

.content .text h2 span{
 font-weight: 700;
}

.content .text p {
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 1.1em !important;
    line-height: 1.5em !important;
    margin: 20px 0 !important;

}

.content .text a {
    color: #000 !important;
}

.btn__order {
    position: relative;
    display: inline-block;
    padding:  20px 50px;
    background: #fff;
    color: #333;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.25s;
}

.btn__order:hover {
    letter-spacing: 2px;
}

.slider {
    position: relative;
}

.slider .slides {
    display: none;
}

.slider .slides.active {
    display: block;
}

.slider .slides img {
    width: 100%;
   max-width: 600px;
    
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: flex-end;
}

.sci {
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    color: #fff;
    font-size:  2em;
    margin-right: 20px;
    display: inline-block;
    transition: 0.25s;
}

.sci li a:hover {
    transform: translateY(-5px);
}

.control-nav {

    left: 3rem;
    
    z-index: 999;
  }
  .control-nav ul {
    position: relative;
    list-style: none;
    padding: 0;
  }
  .control-nav li {
    position: relative;
    width: 1.5rem;
    height: 0.5rem;
    margin: 1.5rem 6px;
    background: white;
    opacity: 0.5;
    border-radius: 3rem;
  }
  .control-nav li.active {
    opacity: 1;
  }

  /*button auth*/

  

  .circle {
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin: auto;
    position: relative;
    opacity: 0.9;
    -webkit-box-shadow: 6px 15px 34px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 15px 34px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 15px 34px -16px rgba(0, 0, 0, 0.75);
    transition: opacity 0.4s;
  }
  .circle:hover {
    opacity: 1;
    transition: opacity 0.4s;
  }
  
  .text_auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 12px;
    font-family: Permanent Marker;
    letter-spacing: 6px;
    pointer-events: none;
  }

  .text_auth i {

    color: #d10a20;
  }